body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

.w3-padding-32{
    font-weight: bold;
}

.boton{
    position: relative;
    top: 3px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .1em;
    border: 1px solid black;
    color: white;
    left: 800px;
}

.titulo{
    font-weight: bold;
}

.bottun{
    position: relative;
    text-transform: uppercase;
}

.select{
    color: transparent;
}

.lugar{
    position: relative;
    left: 80px;
}
