body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

.w3-padding-32{
    font-weight: bold;
}

.boton{
    position: relative;
    top: 3px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .1em;
    border: 1px solid black;
    color: white;
    left: 800px;
}

.titulo{
    font-weight: bold;
}

.bottun{
    position: relative;
    text-transform: uppercase;
}

.select{
    color: transparent;
}

.lugar{
    position: relative;
    left: 80px;
}

.botonreporte{
    position: relative;
    left: 350px;
}

/*MODIFICAR FORMULARIO*/
.form {
    background: rgb(255, 57, 93);
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 40px;
    max-width: 450px;
    margin: 10px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px black;
 }
 
 .tab-group {
   list-style: none;
   padding: 0;
   margin: 0 0 40px 0;
 }
 .tab-group:after {
   content: "";
   display: table;
   clear: both;
 }

 .tab-content > div:last-child {
   display: none;
 }

 label.active {
   transform: translateY(50px);
   left: 2px;
   font-size: 14px;
 }
 label.active .req {
   opacity: 0;
 }
 
 .labelCOLOR{
   color: white;
 }  

 label.highlight {
   color: #ffffff;
 }
 
 input[type=text], input[type=password], input[type=tel], textarea {
   font-size: 18px;
   display: block;
   width: 100%;
   height: 100%;
   padding: 5px 10px;
   background: none;
   background-image: none;
   border: 1px solid #cfcfcf;
   color: #ffffff;
   border-radius: 0;
   transition: border-color .25s ease, box-shadow .25s ease;
 }
 
 input[type="date"]{
   background: #ffffff;
   border: 1px solid #ffffff;
   font-size: 17.5px;
   text-align: center;
   position: relative;
   left: 100px;
 }
 
 input:focus, textarea:focus {
   outline: 0;
   border-color: black;
 }
 
 textarea {
   border: 2px solid #cfcfcf;
   resize: vertical;
 }
 
 .top-row:after {
   content: "";
   display: table;
   clear: both;
 }
 .top-row > div {
   float: left;
   width: 48%;
   margin-right: 4%;
 }

 .top-row > div:last-child {
   margin: 0;
 }
 
 .button {
   outline: none;
   padding: 15px 0;
   width: 200px;
   position: relative;
   left: 80px;
   text-transform: uppercase;
   color: white;
   background: black;
 }

